 .u-section-1 {
  background-image: url("images/Banner.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 705px;
}

.u-section-1 .u-group-1 {
  width: 831px;
  min-height: 183px;
  height: auto;
  margin: 333px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 581px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 334px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(51,51,51,1), rgba(51,51,51,1)), url("images/kantevent.png");
  background-position: 50% 50%;
  min-height: 666px;
}

.u-section-2 .u-group-1 {
  width: 699px;
  min-height: 103px;
  height: auto;
  margin: 37px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 18px 0 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 69px auto 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/LEaTcon_KANTevent_2-400x400.jpg");
  min-height: 248px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-2 {
  background-image: url("images/LEaTcon_KANTevent_1-400x400.jpg");
  min-height: 248px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-3 {
  background-image: url("images/DSC07951-400x400.jpg");
  min-height: 248px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-4 {
  background-image: url("images/KAI_0997-400x400.jpg");
  min-height: 248px;
  background-position: 50% 50%;
}

.u-section-2 .u-image-5 {
  background-image: url("images/LEaTcon_KANTevent_3-400x400.jpg");
  min-height: 248px;
  background-position: 50% 50%;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  font-size: 1rem;
  margin: 69px auto 60px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 698px;
  }

  .u-section-2 .u-group-1 {
    width: 665px;
    min-height: 235px;
    height: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    position: relative;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 979px;
  }

  .u-section-2 .u-group-1 {
    width: 581px;
    min-height: 268px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 50px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1730px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    min-height: 275px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }
}