 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1043px;
}

.u-section-1 .u-blog-1 {
  margin-top: 65px;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px) calc(33.3333% - 14.6667px);
  grid-gap: 22px 22px;
  min-height: 441px;
  grid-auto-columns: calc(33.3333% - 14.6667px);
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-text-2 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 20px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-text-4 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-1 .u-text-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-3 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
}

.u-section-1 .u-text-6 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-4 {
  background-image: none;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 20px;
}

.u-section-1 .u-text-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-4 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-8 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-5 {
  background-image: none;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-1 .u-text-9 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-5 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/default-logo.png");
  background-position: 50% 50%;
}

.u-section-1 .u-text-10 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-6 {
  background-image: none;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px 20px;
}

.u-section-1 .u-text-11 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-6 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/default-logo.png");
  background-position: 50% 50%;
}

.u-section-1 .u-text-12 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-7 {
  background-image: none;
}

.u-section-1 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-1 .u-text-13 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-7 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/default-logo.png");
  background-position: 50% 50%;
}

.u-section-1 .u-text-14 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-8 {
  background-image: none;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px 20px;
}

.u-section-1 .u-text-15 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-8 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/LEaTcon_KANTevent_4-400x400.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-16 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-9 {
  background-image: none;
}

.u-section-1 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-1 .u-text-17 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-9 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/DSC07951-400x400.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-18 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-10 {
  background-image: none;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px 20px;
}

.u-section-1 .u-text-19 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-10 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/LEaTcon_KANTevent_1-400x400.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-20 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-10 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-11 {
  background-image: none;
}

.u-section-1 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-1 .u-text-21 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-11 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/KAI_0997-400x400.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-text-22 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-11 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-1 .u-repeater-item-12 {
  background-image: none;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px 20px;
}

.u-section-1 .u-text-23 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-12 {
  height: 222px;
  margin-top: 17px;
  margin-bottom: 0;
  background-image: url("images/default-logo.png");
  background-position: 50% 50%;
}

.u-section-1 .u-text-24 {
  margin: 37px 0 0;
}

.u-section-1 .u-btn-12 {
  border-style: solid;
  margin: 0 auto 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-blog-1 {
    height: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 373px;
    grid-auto-columns: calc(33.333333333333336% - 14.6667px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 11px) calc(50% - 11px);
    min-height: 648px;
    grid-auto-columns: calc(50% - 11.000025px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-3 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-4 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-5 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-6 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-7 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-8 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-9 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-10 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-11 {
    height: 278px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-12 {
    height: 278px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    grid-auto-columns: 100%;
  }
}